.navbar-brand {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 1.25rem 1rem;
    &-img {
        width: 120px;
    }
    img {
        width: 100%;
    }
}
.navbar {
    padding: 0;
}
#mainNav .navbar-collapse {
    max-height: 75vh;
    overflow: auto;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
}

