#mainNav.fixed-top .navbar-sidenav {
    height: 100%;
    //min-height: calc(100vh - 112px);
    min-height: 100vh;
}
.navbar-sidenav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    background: $sidenav-bg;
    padding-top: 108px;
    color: $white;
    button {
        border: 0;
        background: transparent;
    }
    li {
        width: 100%;
        padding: .5rem 1rem;
    }
    
    .nav-item {
        position: relative;
        padding: 1rem 1rem;
        color: rgba($white, .7);
        .sidenav-btn {
            color: inherit;
        }
        .fa {
            font-size: 20px;
        }
        &:hover, &:focus {
            .nav-linl-text {
                color: $white;
            }
        }
        .nav-link {
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.25rem;
            padding: 0 !important;
        }
        .nav-link-text {
            padding: 0 .5rem;
        }
    }
   
    .sidenav-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 1.5em;
        //padding: 0;
        padding: 0 4px;
        &:hover, &:focus {
            cursor: pointer;
            outline: none;
            .fa {
                color: $white;
            }
        }
    }
}
.sidenav-from {
    padding: 1rem 0;
    input {
        font-weight: normal;
        font-size: 0.825rem;
        line-height: 160%;
        background: transparent;
        border: 0;
    }
    
    .form-control, .form-control:disabled, .form-control[readonly] {
        background: transparent;
        border: 0;
        color: $white;
        padding: 0;
    }
    .form-label {
        font-size: 0.825rem;
        margin-bottom: 0;
    }
}

.navbar-expand-lg .navbar-nav.navbar-sidenav {
    flex-direction: column;
}
