//FIA Requests
.row
    h5.mb-3 FIA Requests
    p
        a.btn.btn-simple.btn-primary New FIA Requests
    .table-responsive
        table.table.table.table-striped.table-bordered.align-middle
            thead
                tr
                    th Institution
                    th Status
                    th Created Date
                    th Expected Return Date
                    th Submitted Date
                    th Completed Date
                    th Send Status
            tbody
                tr
                    td Whitaker Bank
                    td Submitted
                    td 09/05/2020
                    td 09/05/2020
                    td 09/05/2020
                    td 09/05/2020
                    td
                        a.btn.btn-primary Mark Received
                tr
                    td Mutural of Omaha Life Ins.
                    td Submitted
                    td 09/05/2020
                    td 09/05/2020
                    td 09/05/2020
                    td 09/05/2020
                    td ontime
//end of FIA Requests
