.topbar
    h4.topbar-title Joe Resident File
        span #1001001 - X
    .topbar-search.input-group
        span#addon-wrapping.input-group-text
            i.fa.fa-search
        input.form-control(type='text' placeholder='Type in to Search...' aria-label='Search' aria-describedby='addon-wrapping')
    .d-grid.gap-2.d-md-block
        a.btn.btn-primary(href="#", type='button') Monitor
        button.btn.btn-primary(href="#", type='button') Save
        button.btn.btn-outline-primary(href="#", type='button') Edit

