.table-responsive
    p.text-left
        a.btn.btn-bluedark New Note
    table.table.table-striped.table-bordered
        thead
            tr
                th Date
                th Name
                th Note
                th Access
                th Source
        tbody
            tr
                td 08/20/2020 08:42:22 AM
                td Christy Collins
                td
                    p I Ana Santana received a referral via email from the Business office. Resident has an RFMS account where his SS income gets direct deposit in. Resident’s income is being garnished for child sopport owed.
                    p No document request at this time
                    p Documents uploaded
                    p Signature packet
                    p Face sheet
                    p Award / benefit letter
                    p Letter from the IRS
                td Internal
                td
            tr
                td 08/19/2020 10:01:15 PM
                td SYSTEM
                td New file created
                td Internal
                td CCollins

