//Audit Log
.row
    h5.mb-2 Audit Log
    .table-responsive
        table.table.table.table-striped.table-bordered.align-middle
            thead
                tr
                    th Date
                    th Name
                    th Note
                    th Access
                    th Source
            tbody
                tr
                    td 08/31/2020 1:20 PM
                    td SYSTEM
                    td Status changed from Applied to Approved
                    td Internal
                    td CTaggert
                tr
                    td 08/28/2020 8:20 AM
                    td SYSTEM
                    td Processor Name changed from Unassigned to Amy Lowery
                    td Internal
                    td bbradley
                tr
                    td 08/25/2020 4:09 PM
                    td SYSTEM
                    td New file created
                    td Internal
                    td bmejias

//end of Audit Log
