//Signatures tab
.signature.row
    h5.mb-3 Resident Larry Miller
    .col-auto.mb-3
        .signature-canvas
            canvas#signature-pad_01.signature-pad(width='400' height='200')
    .col-auto.pt-5
        p
            button.btn.btn-primary.btn-simple(data-action="save-png") Save
        p
            button.btn.btn-primary.btn-simple(data-action="clear") Clear
    .col-auto
        img.signature-img()
.signature.row
    h5.mb-3 Resident Larry Miller
    .col-auto.mb-3
        .signature-canvas
            canvas#signature-pad_02.signature-pad(width='400' height='200')
    .col-auto.pt-5
        p
            button.btn.btn-primary.btn-simple(data-action="save-png") Save
        p
            button.btn.btn-primary.btn-simple(data-action="clear") Clear
    .col-auto
        img.signature-img()
.signature.row
    h5.mb-3 Resident Larry Miller
    .col-auto.mb-3
        .signature-canvas
            canvas#signature-pad_03.signature-pad(width='400' height='200')
    .col-auto.pt-5
        p
            button.btn.btn-primary.btn-simple(data-action="save-png") Save
        p
            button.btn.btn-primary.btn-simple(data-action="clear") Clear
    .col-auto
        img.signature-img()
//end of Signatures tab


