//Documents
.row.mb-4
    .col-4
        h5.mb-3 Document Upload
        label.btn.btn-simple.btn-primary Choose File(s)
            input.d-none(type="file")
        label.btn.btn-simple.btn-outline-primary.ms-3 Upload
            input.d-none(type="file")

    .col-auto
        h5.mb-3 Document Edit
        a.btn
            i.fa.fa-search
            span.ms-2 View
        a.btn
            i.fa.fa-undo
            span.ms-2 Rotate
        a.btn
            i.fa.fa-columns
            span.ms-2 Split Combine
        span.text-secondary *Click the document you want to View
//end of Documents
//Documents Table
.row
    h5.mb-3 Documents
    .table-responsive
        table.table.table.table-striped.table-bordered.align-middle
            thead
                tr
                    th Description
                    th Category
                    th Created
                    th Uploader
                    th Options
            tbody
                tr
                    td IRA
                    td Uncategorized Documents
                    td 07/30/2020 11:15:00 AM
                    td VTaylorFritz
                    td
                        .options
                            a.btn.btn-outline-primary PDF
                            a.btn.btn-outline-primary PDF w/#s
                            a.btn.btn-sm.btn-outline-success
                                i.fa.fa-plus
                            a.btn
                                i.fa.fa-trash-o.text-danger
                tr
                    td No Description
                    td Uncategorized Documents
                    td 07/30/2020 11:15:00 AM
                    td VTaylorFritz
                    td
                        .options
                            a.btn.btn-outline-primary PDF
                            a.btn.btn-outline-primary PDF w/#s
                            a.btn.btn-sm.btn-outline-success
                                i.fa.fa-plus
                            a.btn
                                i.fa.fa-trash-o.text-danger
                tr
                    td Part I
                    td Uncategorized Documents
                    td 07/30/2020 11:15:00 AM
                    td VTaylorFritz
                    td
                        .options
                            a.btn.btn-outline-primary PDF
                            a.btn.btn-outline-primary PDF w/#s
                            a.btn.btn-sm.btn-outline-success
                                i.fa.fa-plus
                            a.btn
                                i.fa.fa-trash-o.text-danger
                tr
                    td No Description
                    td Uncategorized Documents
                    td 07/30/2020 11:15:00 AM
                    td VTaylorFritz
                    td
                        .options
                            a.btn.btn-outline-primary PDF
                            a.btn.btn-outline-primary PDF w/#s
                            a.btn.btn-sm.btn-outline-success
                                i.fa.fa-plus
                            a.btn
                                i.fa.fa-trash-o.text-danger
//end of Documents Table
