.form-control, .form-select {
    min-height: $input-min-height; //38px
}
.input-group {
    position: relative;
    
    &-text {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: $input-min-height;
        height: $input-min-height;
        border: 0;
        background: transparent;
    }
    
    .fa {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        line-height: $input-min-height/2;
        color: $input-group-addon-fa-color;
        
        &.fa-usd {
            font-size: .625rem;
        }
        &.fa-usd:after {
            content: "";
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            border: 1px solid $input-group-addon-fa-color;
            border-radius: 50%;
        }
    }
    
    .form-control {
        padding-left: $input-min-height;
    }
    
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        border-radius: $input-border-radius;
    }
}

.col-form-label {
    font-size: 1rem;
}

input[type="date"] {
    position: relative;
    color: $input-placeholder-color;
    
    &::placeholder {
        color: $input-placeholder-color;
    }
    
    &:focus {
        color: $dark;
    }
}

input[type="date" i] {
    &::-webkit-calendar-picker-indicator {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: 5px 3px;
        background-size: 16px 12px;
    }
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    .form-check-input {
        margin-top: 0;
        margin-left: 0;
    }
    &-label {
        margin-left: .5rem;
    }
}
