//h1, h2, h3, h4, h5, h6, ul {
//    margin: 0;
//    padding: 0;
//}

html {
    position: relative;
    min-height: 100%;
}

body {
    @include media-breakpoint-up(md) {
        &.sidenav-toggled .content-wrapper {
            margin-left: 55px;
        }
    }
    overflow-x: hidden;
    &.sticky-footer {
        //margin-bottom: 56px;
    }
    &.sticky-footer .content-wrapper {
        //min-height: calc(100vh - 56px - 56px);
        min-height: 100vh;
    }
    &.fixed-nav {
        //padding-top: 56px;
    }
    &.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
        overflow-x: hidden;
        width: 55px;
        .nav-item, .nav-link {
            width: 55px !important;
        }
    }
   
    
    &.sidenav-toggled #mainNav.fixed-top, &.sidenav-toggled #mainNav.static-top {
        #sidenavToggler i {
            transform: scaleX(-1);
            -ms-filter: "FlipH";
            filter: fliph;
        }
    }
    
    &.sidenav-toggled .navbar-sidenav {
        width: 55px;
        .nav-link-text {
            display: none;
        }
        .nav-item, .nav-link {
            width: 55px !important;
            &:after {
                display: none;
            }
        }
    }
    
    &.sidenav-toggled .navbar-sidenav .nav-item {
        white-space: nowrap;
    }
    
    &.sidenav-toggled .navbar-sidenav-tooltip.show {
        display: flex;
    }
}

.content-wrapper {
    @include media-breakpoint-up(md) {
        margin-left: 250px;
    }
    min-height: calc(100vh - $topbar-height);
    overflow-x: hidden;
    padding-top: $topbar-height;
    background: $content-wrapper-bg;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}


.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    transform: rotate(15deg);
}

.card {
    min-height: 12.25rem;
}

.btn-simple {
    min-width: 130px;
}
